<h1>Login</h1>
<form action="<%= session_url %>" method="POST">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email" value="">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" value="">
  <br>
  <input type="submit" value="Log In">

</form>